In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Fertilizer Recommendation.csv")
df.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea

In [6]:
st=df["Soil Type"].unique()
print(f"Soil type{st}")
ct=df["Crop Type"].unique()
print(f"Crop type{ct}")
fn=df["Fertilizer Name"].unique()
print(f"Fertilizer{fn}")

Soil type['Sandy' 'Loamy' 'Black' 'Red' 'Clayey']
Crop type['Maize' 'Sugarcane' 'Cotton' 'Tobacco' 'Paddy' 'Barley' 'Wheat' 'Millets'
 'Oil seeds' 'Pulses' 'Ground Nuts']
Fertilizer['Urea' 'DAP' '14-35-14' '28-28' '17-17-17' '20-20' '10-26-26']

In [7]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Soil Type']=le.fit_transform(df['Soil Type'])
df['Crop Type']=le.fit_transform(df['Crop Type'])
df['Fertilizer Name']=le.fit_transform(df['Fertilizer Name'])

In [8]:
st=df["Soil Type"].unique()
print(f"Soil type{st}")
ct=df["Crop Type"].unique()
print(f"Crop type{ct}")
fn=df["Fertilizer Name"].unique()
print(f"Fertilizer{fn}")

Soil type[4 2 0 3 1]
Crop type[ 3  8  1  9  6  0 10  4  5  7  2]
Fertilizer[6 5 1 4 2 3 0]

In [9]:
df.isnull().sum()

Temparature        0
Humidity           0
Moisture           0
Soil Type          0
Crop Type          0
Nitrogen           0
Potassium          0
Phosphorous        0
Fertilizer Name    0
dtype: int64

In [10]:
df.duplicated().sum()

0

In [11]:
df.describe()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,30.282828,59.151515,43.181818,2.010101,5.151515,18.909091,3.383838,18.606061,3.636364
std,3.502304,5.840331,11.271568,1.410565,3.140790,11.599693,5.814667,13.476978,1.950691
min,25.000000,50.000000,25.000000,0.000000,0.000000,4.000000,0.000000,0.000000,0.000000
25%,28.000000,54.000000,34.000000,1.000000,2.000000,10.000000,0.000000,9.000000,2.000000
50%,30.000000,60.000000,41.000000,2.000000,5.000000,13.000000,0.000000,19.000000,4.000000
75%,33.000000,64.000000,50.500000,3.000000,8.000000,24.000000,7.500000,30.000000,5.000000
max,38.000000,72.000000,65.000000,4.000000,10.000000,42.000000,19.000000,42.000000,6.000000

In [15]:
x=df.drop(columns='Fertilizer Name')
y=df['Fertilizer Name']
y

0     6
1     5
2     1
3     4
4     6
     ..
94    4
95    0
96    6
97    5
98    3
Name: Fertilizer Name, Length: 99, dtype: int32

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [24]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_absolute_error
rf=RandomForestClassifier()
dt=DecisionTreeClassifier()
s=SVC()
kn=KNeighborsClassifier(n_neighbors=5)
dt.fit(x_train,y_train)
y_pred=dt.predict(x_test)
rf.fit(x_train,y_train)
y_pred1=dt.predict(x_test)
s.fit(x_train,y_train)
y_pred2=s.predict(x_test)
kn.fit(x_train,y_train)
y_pred3=kn.predict(x_test)
print(f"DecisionTreeClassifier{y_pred} and accuracy is {mean_absolute_error(y_test,y_pred)}")
print(f"RandomForest{y_pred1}accuracy is {mean_absolute_error(y_test,y_pred1)}")
print(f"Support Vector Classifier{y_pred2} accuracy is {mean_absolute_error(y_test,y_pred2)}")
print(f"KNeighbour Classifier{y_pred3}accuracy is {mean_absolute_error(y_test,y_pred3)}")

DecisionTreeClassifier[1 0 1 4 2 6 6 6 2 4 5 0 2 4 6 4 5 3 1 4] and accuracy is 0.15
RandomForest[1 0 1 4 2 6 6 6 2 4 5 0 2 4 6 4 5 3 1 4]accuracy is 0.15
Support Vector Classifier[5 1 5 4 1 6 6 6 3 4 5 1 1 4 6 4 5 3 5 4] accuracy is 0.8
KNeighbour Classifier[1 0 1 4 1 6 6 6 2 4 5 2 0 4 6 4 5 3 1 4]accuracy is 0.1